body {
  font-family:'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

li {
  font-size: 18px;
  color: #c4c8cd;
}

h1 {
  margin: 0;
  padding: 0;
}

.hero {
  padding: 15px 200px;
  background-color: #1f2937;
  font-size: 18px;
  color: #c4c8cd;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  font-weight: bold;
  }

.hero-body {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;
}

.hero-text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

button {
  background: #3882f6;
  color: #F9FAF8;
  border: none;
  border-radius: 6px;
  padding: 8px 22px;
  font-weight: 900;
  max-width: 110px;
  }

.image-placeholder {
  max-width: 500px;
  background: #6d747d;
  color: #F9FAF8;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.logo,
.hero-title {
  color: #F9FAF8
}

.logo {
  font-size: 24px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  margin: 0;
  padding: 0 0 10px;
}